$YELLOW = #ffe411
$BLUE = #6A7A9E
$GREY1 = #B7BECD

$M5 = 5px
$M10 = 10px

.flex-1
  flex 1 1 0
.flex-2
  flex 2 1 0
.flex-3
  flex 3 1 0

.input
  opacity .7
  margin-top $M10
  padding 15px
  border-radius 100px
  outline none
  border none
  font-size 18px
  width 70%
  height 40px
  background #fff
