$YELLOW = #ffe411
$BLUE = #6A7A9E
$DARK_BLUE = #242535
$GREY1 = #B7BECD
$GREY2 = #2B2B32

$TIMING = cubic-bezier(0.25, 0.1, 0.25, 1.0)

$M5 = 5px
$M10 = 10px

.flex-1
  flex 1 1 0
.flex-2
  flex 2 1 0
.flex-3
  flex 3 1 0

.input
  opacity .7
  margin-top $M10
  padding 0 15px
  border-radius 100px
  outline none
  border none
  font-size 18px
  width 70%
  height 40px
  line-height 40px
  background #fff
